<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<head>
    <title th:text="${titulo}">Panel Admin</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Bienvenido, <span th:text="${usuario.nombre}">Admin</span></h1>
    <p>Este es tu panel de administración.</p>

    <ul>
        <li><a th:href="@{/admin/usuarios}">Usuarios</a></li>
        <li><a th:href="@{/admin/productos}">Productos</a></li>
        <li><a th:href="@{/admin/roles}">Roles</a></li>
        <li><a th:href="@{/admin/ventas}">Ventas</a></li>
    </ul>
</div>
</body>
</html>
