<!-- src/main/resources/templates/producto/detalles.html -->
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

  <div class="container my-4">
    <h1 class="mb-4 text-center text-primary fw-bold">Detalles del Producto</h1>

    <div class="card shadow-sm p-4">
      <div class="mb-3">
        <h5 class="fw-bold">Nombre:</h5>
        <p th:text="${producto.nombre}">Nombre del producto</p>
      </div>

      <div class="mb-3">
        <h5 class="fw-bold">Precio:</h5>
        <p th:text="${producto.precio}">Precio del producto</p>
      </div>

      <div class="mb-3" th:if="${producto.img != null}">
        <h5 class="fw-bold">Imagen:</h5>
        <img th:src="@{'data:image/jpeg;base64,' + ${#strings.encodeBase64(producto.img)}}" class="img-fluid" alt="Imagen producto">
      </div>

      <a th:href="@{/producto}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
      <a th:href="@{/producto/editar/{id}(id=${producto.id})}" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
    </div>
  </div>

</div>
</html>
