<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
</head>
<body>
<h1>Editar Producto</h1>

<form th:action="@{/productos/guardar}" th:object="${producto}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/><br/>

    <label>Precio:</label>
    <input type="number" step="0.01" th:field="*{precio}" required/><br/>

    <label>Descripción:</label>
    <textarea th:field="*{descripcion}"></textarea><br/>

    <label>Imagen actual:</label><br/>
    <img th:if="${producto.img != null}" th:src="@{${'/productos/imagen/' + producto.id}}" alt="Imagen del producto" width="150"/><br/>

    <label>Cambiar Imagen:</label>
    <input type="file" name="imagenFile"/><br/><br/>

    <button type="submit">Actualizar</button>
</form>

<a th:href="@{/productos}">Volver al listado</a>
</body>
</html>
