<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
<a th:href="@{/productos/crear}">Crear nuevo producto</a>
<table border="1">
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <!-- Mostrar imagen si existe -->
        <td>
            <img th:if="${producto.img != null}"
                 th:src="'data:image/jpeg;base64,' + ${T(org.apache.tomcat.util.codec.binary.Base64).encodeBase64String(producto.img)}"
                 alt="Imagen Producto"
                 width="100"/>
        </td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
        <td>
            <a th:href="@{|/productos/detalles/${producto.id}|}">Detalles</a>
            <a th:href="@{|/productos/editar/${producto.id}|}">Editar</a>
            <a th:href="@{|/productos/eliminar/${producto.id}|}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
